
<!DOCTYPE HTML>
<html>
 <head>
   <title>Bowling Alley</title>
 </head>
 <body>  <h1>Bust...Bowl A Strike Every Time</h2>
   <h3>97 Bowling Alley Lane, Boulder CO</h3>\n  </body>\n</html>
   <h1> Buster's Best Bowling Alley</h1>
